<form [formGroup]="form">
  <div class="row">
    <div class="col-xs-12">
      <button
        class="btn btn-success"
        type="submit"
        (click)="onSubmit()"
        [disabled]="form.invalid">
        Save
      </button>
      <button
        class="btn btn-danger"
        type="button"
        (click)="onCancel()">
        Cancel
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
        <div class="form-group">
          <label for="recipe-name">Name:</label>
          <input
            type="text"
            id="recipe-name"
            class="form-control"
            formControlName="name">
        </div>
        <div class="form-group">
          <label for="recipe-description">Description: </label>
          <textarea
            id="recipe-description"
            class="form-control"
            rows="6"
            formControlName="description"></textarea>
        </div>
        <div class="form-group">
          <label for="recipe-image">Image URL:</label>
          <input
            type="text"
            id="recipe-image"
            class="form-control"
            formControlName="imagePath"
            #imagePath>
        </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <img src="{{ imagePath.value }}" class="img-responsive" style="max-height: 200px;">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12" formArrayName="ingredients">
      <div
        class="row"
        *ngFor="let ingredientCtrl of getControls(); let i = index"
        [formGroupName]="i"
        style="margin-top: 10px;">
        <div class="col-xs-8">
          <input
            type="text"
            class="form-control"
            formControlName="name">
        </div>
        <div class="col-xs-2">
          <input
            type="number"
            class="form-control"
            formControlName="amount">
        </div>
        <div class="col-xs-2">
          <button
            class="btn btn-danger"
            (click)="onDeleteIngredient(i)">X</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <hr>
      <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add Ingredient</button>
    </div>
  </div>
</form>
