<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/recipes">Recipes</a>
        </li>
        <li
          routerLinkActive="active"
          [routerLinkActiveOptions]="{exact: true}">
          <a routerLink="/shopping-list">Shopping List</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <ng-template [ngIf]="!isAuthenticated()">
          <li>
            <a
              style="cursor: pointer;"
              routerLink="/signup">
              Register
            </a>
          </li>
          <li>
            <a
              style="cursor: pointer;"
              routerLink="/signin">
              Login
            </a>
          </li>
        </ng-template>
        <ng-template [ngIf]="isAuthenticated()">
          <li>
            <a
              style="cursor: pointer;"
              (click)="onLogout()">
              Logout
            </a>
          </li>
          <li
            class="dropdown"
            appDrowdown>
            <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li>
                <a
                  style="cursor: pointer;"
                  (click)="onSaveData()">
                  Save Data
                </a>
              </li>
              <li>
                <a
                  style="cursor: pointer;"
                  (click)="onFetchRemoteData()">
                  Fetch Data
                </a>
              </li>
            </ul>
          </li>
        </ng-template>
      </ul>
    </div>
  </div>
</nav>
