<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-sm-offset-2">
    <form (ngSubmit)="onSignIn(form)" #form="ngForm">
      <div class="form-group">
        <label for="email">Mail</label>
        <input type="email" id="email" name="email" class="form-control" ngModel>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" id="password" name="password" class="form-control" ngModel>
      </div>
      <span *ngIf="!signinStatus.success" class="help-block">
        {{ signinStatus.message }}
      </span>
      <button class="btn btn-primary" type="submit">Sign Up</button>
    </form>
  </div>
</div>
